<mat-toolbar color="primary" class="navbar">
  <!-- Botón para abrir/cerrar el sidebar -->
  <button style="color: black; z-index: 100;" mat-icon-button (click)="toggleSidebar.emit()">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Logo / título del sistema -->
  <span class="navbar-title" style="color: black; z-index: 100;">Gestor de Taller</span>

  <span class="spacer"></span>

  <!-- Iconos de acción -->
  <button mat-icon-button matTooltip="Notificaciones" style="color: black; z-index: 100;">
    <mat-icon>notifications</mat-icon>
  </button>

  <button mat-icon-button matTooltip="Perfil" style="color: black; z-index: 100;">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

