.main-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
  background-color: #1e293b; /* azul oscuro elegante */
  color: #fff;
}

.content {
  padding: 24px;
  background-color: #f8fafc; /* gris claro */
  min-height: calc(100vh - 64px);
}

