<mat-sidenav-container class="main-container">
  <!-- Sidebar lateral -->
  <mat-sidenav mode="side" opened class="sidenav">
    <!-- Aquí se cargan los enlaces de navegación -->
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <!-- Contenido principal -->
  <mat-sidenav-content>
    <!-- Barra superior -->
    <app-navbar></app-navbar>

    <!-- Contenedor del contenido dinámico -->
    <div class="content">
      <!-- Aquí Angular cargará el componente según la ruta -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



