<div class="app-wrapper">
  <!-- Mostrar layout completo solo si NO estamos en home o login -->
  <ng-container *ngIf="showDashboardLayout">
    <mat-sidenav-container class="main-container">
      <mat-sidenav mode="side" opened class="sidenav">
        <app-sidebar></app-sidebar>
      </mat-sidenav>

      <mat-sidenav-content>
        <app-navbar></app-navbar>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-container>

  <!-- Mostrar solo contenido para home y login -->
  <ng-container *ngIf="!showDashboardLayout">
    <router-outlet></router-outlet>
  </ng-container>
</div>