<div class="brand">
  <div class="logo">🏍️ Taller</div>
</div>

<mat-nav-list>
  <mat-list-item>
    <mat-icon>dashboard</mat-icon>
    <span class="label">Dashboard</span>
  </mat-list-item>

  <mat-list-item>
    <mat-icon>assignment</mat-icon>
    <span class="label">Tareas</span>
  </mat-list-item>

  <mat-list-item>
    <mat-icon>people</mat-icon>
    <span class="label">Clientes</span>
  </mat-list-item>

  <mat-list-item>
    <mat-icon>build</mat-icon>
    <span class="label">Mecánicos</span>
  </mat-list-item>

  <mat-list-item>
    <mat-icon>bar_chart</mat-icon>
    <span class="label">Reportes</span>
  </mat-list-item>
</mat-nav-list>

<div class="new-task">
  <button mat-raised-button color="primary">+ Nueva tarea</button>
</div>
