<div class="brand">
  <div class="logo">🏍️ Taller</div>
</div>

<mat-nav-list>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
    <mat-icon>dashboard</mat-icon>
    <span class="label">Dashboard</span>
  </a>

  <a mat-list-item routerLink="/tareas" routerLinkActive="active-link">
    <mat-icon>assignment</mat-icon>
    <span class="label">Tareas</span>
  </a>

  <a mat-list-item routerLink="/clientes" routerLinkActive="active-link">
    <mat-icon>people</mat-icon>
    <span class="label">Clientes</span>
  </a>

  <a mat-list-item routerLink="/mecanicos" routerLinkActive="active-link">
    <mat-icon>build</mat-icon>
    <span class="label">Mecánicos</span>
  </a>

  <a mat-list-item routerLink="/reportes" routerLinkActive="active-link">
    <mat-icon>bar_chart</mat-icon>
    <span class="label">Reportes</span>
  </a>
</mat-nav-list>

<div class="new-task">
  <button mat-raised-button color="primary" (click)="cerrarSesion()">
    <mat-icon>logout</mat-icon>
    Cerrar sesión
  </button>
</div>
